a {
    text-decoration: none;    
}

nav {
    margin: 0px;
    padding: 0px;
    height: 44px;
}

nav li {


}

nav a {
    letter-spacing: 1px;
    color: white;
    white-space: nowrap;
    font-size: 20px;
}

.content-section {
  background: white;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

#infor_content {
    background-color: aquamarine;
}

#summary_about {
    background-color: grey;
}

#whatWedo {
    background-color: darkblue;
    color: white;
}

#anyX {
    background-color: burlywood;
   /* display: none;*/
}
